<header id="top">
    <nav class="navbar navbar-default navbar-fixed-top" id="site-navbar">
	<div class="container">
	    <div class="navbar-header">
	    <a class="navbar-brand nav-link" href="/#">
	    <h1>Aaron Clamp</h1>
	    </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		    <li><a class="nav-link" href="/#home">Home</a></li>
		    <li><a class="nav-link" href="/#bio">Bio</a></li>
		    <li><a class="nav-link" href="/#calendar">Calendar</a></li>
		    <li><a class="nav-link" href="/#contact">Contact</a></li>
		    <li><a class="nav-link" href="/#gallery">Gallery</a></li>
		    <li><a class="nav-link" href="/#music+video">Music & Video</a></li>
		</ul>
	    </div>
	</div>
    </nav>
</header>